/* Non-Soft */
@font-face {
    font-family: 'New Astro', sans-serif;
    font-weight: 100;
    src: url('../font/New Astro/Thin.woff2');
}
@font-face {
    font-family: 'New Astro', sans-serif;
    font-weight: 300;
    src: url('../font/New Astro/Light.woff2');
}
@font-face {
    font-family: 'New Astro', sans-serif;
    font-weight: 400;
    src: url('../font/New Astro/New Astro.woff2');
}
@font-face {
    font-family: 'New Astro', sans-serif;
    font-weight: 500;
    src: url('../font/New Astro/Medium.woff2');
}
@font-face {
    font-family: 'New Astro', sans-serif;
    font-weight: 600;
    src: url('../font/New Astro/SemiBold.woff2');
}

/* Soft */
@font-face {
    font-family: 'New Astro Soft', sans-serif;
    font-weight: 100;
    src: url('../font/New Astro/Soft Light.woff2');
}
@font-face {
    font-family: 'New Astro Soft', sans-serif;
    font-weight: 300;
    src: url('../font/New Astro/Soft Thin.woff2');
}
@font-face {
    font-family: 'New Astro Soft', sans-serif;
    font-weight: 400;
    src: url('../font/New Astro/New Astro Soft');
}
@font-face {
    font-family: 'New Astro Soft', sans-serif;
    font-weight: 500;
    src: url('../font/New Astro/Soft Medium.woff2');
}
@font-face {
    font-family: 'New Astro Soft', sans-serif;
    font-weight: 600;
    src: url('../font/New Astro/Soft SemiBold.woff2');
}