.bfont {
  font-family: 'New Astro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .smoothscroll-container {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 3px white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .smoothscroll-container {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 3px black;
  }
}

.smoothscroll-container {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smoothscroll-inner {
  padding: 10px;
}

.top-margin {
  margin-top: 150vh;
}

.bottom-margin {
  margin-bottom: 150vh;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}